# dependencies
node_modules

# testing
coverage
junit.xml

# production
build

# misc
.DS_Store
npm-debug.log
consoleScripts.js
.env*

# data
temp-*.json

logs
*.log

# ignore any tmp folders
tmp
# **/tmp

# Mongo DB volume
mongo-volume

# # Typedoc stuff
# docs
